body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ffcc00;
    border-radius: 16px;
    padding: 25px;
}

.username-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.username-wrapper label {
    margin-right: 10px;
}

.username-wrapper input {
    font-size: 20px;
    border: 2px solid #ffae00;
    background: #413f3f;
    color: white;
}


.password-wrapper {
    display: flex;
    flex-direction: row;
}

.password-wrapper label {
    margin-right: 18px;
}

.password-wrapper input {
    font-size: 20px;
    border: 2px solid #ffae00;
    background: #413f3f;
    color: white;
}

.submit-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-wrapper button {
    padding: 10px;
    font-size: 30px;
    background: inherit;
    color: white;
    border: 2px solid darkgoldenrod;
    cursor: pointer;
    border-radius: 14px;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.submit-wrapper button:hover {
    transform: scale(1.1);
    background: #ffcc00;
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.success {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}