body {
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

.neon {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 0.8),
    0 0 40px rgba(255, 255, 255, 0.8);
}

#error {
    color: red;
}

#todoForm {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.neon-list {
    list-style-type: none;
    padding: 0;
}

.neon-list li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.neon-list li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

.neon-list li:hover {
    background-color: #555;
}